@font-face {
  font-family: 'sf-pro-regular';
  src: url('./assets/fonts/SFProDisplay-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'sf-pro-medium';
  src: url('./assets/fonts/SFProDisplay-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'sf-pro-semibold';
  src: url('./assets/fonts/SFProDisplay-Semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'sf-pro-bold';
  src: url('./assets/fonts/SFProDisplay-Bold.ttf');
  font-weight: 700;
}
a{
  color: #1882FF;
}
.logo{
  margin-right: 3.375rem;
}
.logo{
  min-height: 2.875rem;
  pointer-events: none;
}
.drawer-logo{
  max-height: 2.5rem;
}
/* =========== Main Content ========== */
.filter_status_heading{
  font-family: 'sf-pro-medium';
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 0.75rem;
}
.booking_select_box{
  padding: .75rem .75rem .875rem .75rem;
}
.seatinfofooter{
  background: #FAFAFA;
  padding: 1rem;
}
/* ====== @End Main Content ===========*/
.footer{
  padding: 30px 0;
}